<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Sửa câu hỏi</title>
    <link rel="stylesheet" href="/static/css/add_question.css">
</head>
<body>

<div class="background"></div>

<div class="container">
    <div class="card">
        <div class="header edit">
            <h2>✏️ Sửa câu hỏi</h2>
            <span>Cập nhật nội dung và đáp án</span>
    </div>

        <form method="post">
            <div class="form-group">
                <label>Nội dung câu hỏi</label>
                <textarea name="question" required>
Python là ngôn ngữ gì?
                </textarea>
            </div>

            <div class="grid">
                <input type="text" name="a" value="Ngôn ngữ lập trình" required>
                <input type="text" name="b" value="Hệ điều hành" required>
                <input type="text" name="c" value="Trình duyệt" required>
                <input type="text" name="d" value="Cơ sở dữ liệu" required>
            </div>

            <div class="form-group">
                <label>Đáp án đúng</label>
                <select name="correct" required>
                    <option value="A" selected>A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="actions">
                 <button class="btn-save btn-update">Cập nhật câu hỏi</button>
                <a href="/dashboard" class="btn-back">Hủy</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>